.sortable {
    cursor: pointer;
    color: yellow;
}

.warning {
    background-color: goldenrod;
    font-style: italic;
    color: #707070;
    animation:driftingText 4s infinite;
} 

@keyframes driftingText{
    0%   { transform: translateY(3px);  }
    50%  { transform: translateY(-3px); }
    100% { transform: translateY(3px);  }
}

table {
  color: black;
  border-radius: 5px;
  border-color: lightgray;
  border-style: outset;
  overflow: hidden;
  margin: 12px 0;
  min-width: auto;
  background-color: whitesmoke;
}

.header-row {
    background-color: darkblue;
    color: white;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: lightgray;
}